# Node
node_modules/
dist/
.vite/
npm-debug.log*

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.log
.gradle/
build/

# Env
.env
.env.*
!.env.example
!frontend/.env.production

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
